<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" href="{% static 'imagens/iconebarber.png' %}" type="icon">
</head>
<body>
    <a href="{% url 'listBarbershops' %}"><img src="{% static 'imagens/iconebarber.png' %}" class="icon"></a>
    <div class="container">
        <form class="login-form" method="post">
            {% csrf_token %}
            <h2>Registre-se</h2>
            <div class="input-group">
                <label for="username">Nome de usuário:</label>
                {{ user_form.username }}
                {{ user_form.username.errors}}
            </div>
            <div class="input-group">
                <label for="password">Senha:</label>
                {{ user_form.password1 }}
                {{ user_form.password1.errors}}
            </div>
            <div class="input-group">
                <label for="password">Confirme a senha:</label>
                {{ user_form.password2 }}
                {{ user_form.password2.errors}}
            </div>

            <button type="submit">Registrar</button>

        </form>
    </div>
</body>
</html>
